---
const { invite, event } = Astro.props;
import Button from "../components/Button.astro";
---

<div class="bg-white shadow-lg rounded-lg p-8 text-center">
    <img
        src={invite.imageUrl}
        alt={"Photo de " + invite.prenom + " " + invite.nom}
        class="w-32 h-32 mx-auto rounded-full object-cover shadow-md"
    />

    <h2 class="text-3xl font-bold text-gray-900 mt-4">
        {invite.prenom}
        {invite.nom}
    </h2>
    <p class="text-gray-700 text-lg italic">{invite.role}</p>

    <p class="mt-4 text-gray-600">{invite.bio}</p>

    {
        event ? (
            <div class="mt-6 bg-gray-100 p-4 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold text-gray-900">
                    Film ou Activité Associé(e)
                </h3>
            
                    <h4 class="text-lg font-semibold text-gray-900">
                        {event.titre}
                    </h4>
                </a>
            </div>
        ) : (
            <p class="mt-4 text-gray-500 italic">
                Aucun film ou activité associé.
            </p>
        )
    }

    <Button link="/invite" linkText="Retour aux invités" />
</div>
